<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mossaeapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <permission
        android:name="com.cookandroid.cookmap.permission.MAPS_RECEIVE"
        android:label="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mossaeapp">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity" android:exported="false"/>
        <activity android:name=".PoliceActivity" android:exported="false"/>
        <activity android:name=".FakecallActivity" android:exported="false"/>
        <activity android:name=".Information" android:exported="false"/>
        <activity android:name=".Manvoice" android:exported="false"/>
        <activity android:name=".Womanvoice" android:exported="false"/>
        <activity android:name=".Helpfakecall" android:exported="false"/>
        <activity android:name=".Helpvoice" android:exported="false"/>
        <activity android:name=".Helpinformation" android:exported="false"/>
        <activity android:name=".Helppolice" android:exported="false"/>
        <activity android:name=".police.MapMapolice" android:exported="false"/>
        <activity android:name=".police.MapDapolice" android:exported="false"/>
        <activity android:name=".police.MapAypolice" android:exported="false"/>
        <activity android:name=".police.MapBdpolice" android:exported="false"/>
        <activity android:name=".police.MapBspolice" android:exported="false"/>
        <activity android:name=".police.MapGspolice" android:exported="false"/>
        <activity android:name=".police.MapIdwpolice" android:exported="false"/>
        <activity android:name=".police.MapMhpolice" android:exported="false"/>
        <activity android:name=".police.MapSspolice" android:exported="false"/>
        <activity android:name=".Notice" android:exported="false"/>
        <activity android:name=".AlarmActivity"
            android:exported="false"/>
        <activity android:name=".removeActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="AlarmRemove"></action>
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="AlarmRecevier"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>